<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pimmesz"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/PimZonneveld"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/pimzonneveld/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
